#hello-text {
    margin-left: 20%;

}

#add-item{
    margin-left: 35%;
}

#price-list {
    right: -500px;
}


#add-item {
    margin-left: 310px;
}

#error-box {

}

#task-list {
    padding-top: 10px;
    width: 940px;
}

#total_text{
    margin-left: 90px;
}

#task-name {
    position: relative;
    left: 5px;
}

.input-form-error {
    border-color: red;
    transition-duration: 1s;
}
:active :hover :focus {
    transition-duration: 1s;
}


#task-price {
    position: relative;
    left: 15px;
}


#task-price-error {
    border-color: red !important;
}

#item-price-text {
    position: relative;
    left: 10px;
    height: 37px;
}

#item-name-text {
    position: relative;
    height: 37px;
}
