#hello-text {
    margin-left: 20%;

}

#add-item{
    margin-left: 35%;
}

#price-list {
    right: -500px;
}


#add-item {
    margin-left: 310px;
}

#error-box {

}

#task-list {
    padding-top: 10px;
    width: 940px;
}

#total_text{
    margin-left: 90px;
}
